spring-oxm/src/test/schema/flight.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2002-2021 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
        targetNamespace="http://samples.springframework.org/flight"
        xmlns:tns="http://samples.springframework.org/flight">
    <element name="flights">
        <complexType>
            <sequence>
                <element name="flight" type="tns:flightType"
                         maxOccurs="unbounded">
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="flight" type="tns:flightType"/>
    <complexType name="flightType">
        <sequence>
            <element name="number" type="long"/>
        </sequence>
    </complexType>
</schema>
